*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //outline: 1px solid rgba(255, 0, 0, 0.4);
}

body,
html {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


