@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;

.about {
  width: 100%;
  padding: fluid(2rem, 4rem);
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (min-width: 1024px) {
      padding-inline: 20rem;
    }

    &__head {
      font-family: #212529;
      font-size: 2.5rem;
      color: $text-main;
      margin-bottom: 1.5rem;
      line-height: 1.2;
      font-weight: 100;
      padding-block: fluid(20px, 36px);

      @media (min-width: 1024px) {
        font-size: 3.5rem;
      }

      @media (max-width: 640px) {
        padding-top: 3rem;
      }
      
    }

    &__desc {
      font-size: fluid(12px, 14px);
      color: #212529;
      text-align: center;
      padding-bottom: fluid(20px, 36px);
    }

    &__image {
      width: 100%;

      &-img {
        width: 640px;
        padding: 5px;
        border-radius: 20px;
        object-fit: cover;

        @media(max-width:480px){
          width: 275px;
        }
      }
    }
  }
}
