:root {
  --c-primary: #f09650;   // brandOrange[5]
  --c-heading: #212529;   // brandGrey[9]
  --c-text: #212529;      // brandGrey[9]
  --c-link: #b1560f;  //brandOrangish[8]
  --c-subtitles: #6c757d; //brandLightgrey[7]

}
